Django
djangorestframework
environs
django-cors-headers
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
python-dateutil
channels
channels-redis
daphne
redis
django-redis
django-filter
gunicorn
whitenoise
dj-database-url