Django==6.0.1
djangorestframework==3.14.0
environs==11.0.0
asgiref==3.8.1
django-cors-headers==4.3.1
djangorestframework-simplejwt==5.3.1
PyJWT==2.9.0
pytz==2024.2
sqlparse==0.5.0
psycopg2-binary==2.9.9
python-dotenv==1.0.0
python-dateutil==2.9.0.post0
channels==4.1.0
channels-redis==4.2.0
daphne==4.1.0
redis==5.0.1
django-redis==5.4.0
django-filter==23.5
gunicorn==21.2.0
whitenoise==6.6.0
dj-database-url==2.1.0